{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-8">
        <h4 class = "text-left" ><b>Finance News:</b></h4>
        <p class="text-left line-height"><small>Source: <a href ="https://finance.yahoo.com/news/">Yahoo Finance</a></small></p>
        <div class="card">
        <div class="card-body text-left">
            <p class="card-text"><b>{{t1}}.</b></p>
            <h6 class="card-subtitle mb-2 text-muted">{{d1}}</h6>
            <a href="{{l1}}" class="card-link">Read more</a>
        </div>
        </div>

        <div class="card">
        <div class="card-body text-left">
            <p class="card-text"><b>{{t2}}.</b></p>
            <h6 class="card-subtitle mb-2 text-muted">{{d2}}</h6>
            <a href="{{l2}}" class="card-link">Read more</a>
        </div>
        </div>

        <div class="card">
        <div class="card-body text-left">
            <p class="card-text"><b>{{t3}}.</b></p>
            <h6 class="card-subtitle mb-2 text-muted">{{d3}}</h6>
            <a href="{{l3}}" class="card-link">Read more</a>
        </div>
        </div>

        <div class="card">
        <div class="card-body text-left">
            <p class="card-text"><b>{{t4}}.</b></p>
            <h6 class="card-subtitle mb-2 text-muted">{{d4}}</h6>
            <a href="{{l4}}" class="card-link">Read more</a>
        </div>
        </div>

        <div class="card">
        <div class="card-body text-left">
            <p class="card-text"><b>{{t5}}.</b></p>
            <h6 class="card-subtitle mb-2 text-muted">{{d5}}</h6>
            <a href="{{l5}}" class="card-link">Read more</a>
        </div>
        </div>

        <div class="card">
        <div class="card-body text-left">
            <p class="card-text"><b>{{t6}}.</b></p>
            <h6 class="card-subtitle mb-2 text-muted">{{d6}}</h6>
            <a href="{{l6}}" class="card-link">Read more</a>
        </div>
        </div>

        <div class="card">
        <div class="card-body text-left">
            <p class="card-text"><b>{{t7}}.</b></p>
            <h6 class="card-subtitle mb-2 text-muted">{{d7}}</h6>
            <a href="{{l7}}" class="card-link">Read more</a>
        </div>
        </div>

        <div class="card">
        <div class="card-body text-left">
            <p class="card-text"><b>{{t8}}.</b></p>
            <h6 class="card-subtitle mb-2 text-muted">{{d8}}</h6>
            <a href="{{l8}}" class="card-link">Read more</a>
        </div>
        </div>

        <div class="card">
        <div class="card-body text-left">
            <p class="card-text"><b>{{t9}}.</b></p>
            <h6 class="card-subtitle mb-2 text-muted">{{d9}}</h6>
            <a href="{{l9}}" class="card-link">Read more</a>
        </div>
        </div>

    </div>

    <div class="col-4">
        <h4 class = "text-left" ><b>World Indices:</b></h4>
        <p class="text-left line-height"><small>Source: <a href ="https://www.investing.com/indices/world-indices">Investing.com</a></small></p>
        <div class="card text-left" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><b>S&P 500</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">S&P 500</h6>
                <p class="card-text">Open: {{op1}}</p>
                <p class="card-text">Previous close: {{cp1}}</p>
                <p class="card-text">Day range: {{cp1}} - {{op1}}</p>
                <p class="card-text">Currency:USD</p>
                <a href="https://www.investing.com/indices/us-spx-500" class="card-link">More info</a>
            </div>

            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><b>NDX</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">Nasdaq's 100</h6>
                <p class="card-text">Open: {{op2}}</p>
                <p class="card-text">Previous close: {{cp2}}</p>
                <p class="card-text">Day range: {{cp2}} - {{op2}}</p>
                <p class="card-text">Currency:USD</p>
                <a href="https://www.investing.com/indices/nq-100" class="card-link">More info</a>
            </div>
            </div>


            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><b>FTSE</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">UK FTSE 100</h6>
                <p class="card-text">Open: {{op3}}</p>
                <p class="card-text">Previous close: {{cp3}}</p>
                <p class="card-text">Day range: {{cp3}} - {{op3}}</p>
                <p class="card-text">Currency:GBP</p>
                <a href="https://www.investing.com/indices/uk-100" class="card-link">More info</a>
            </div>
            </div>

            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><b>FTXIN25</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">FTSE China 50</h6>
                <p class="card-text">Open: {{op4}}</p>
                <p class="card-text">Previous close: {{cp4}}</p>
                <p class="card-text">Day range: {{cp4}} - {{op4}}</p>
                <p class="card-text">Currency:HKD</p>
                <a href="https://www.investing.com/indices/ftse-china-25" class="card-link">More info</a>
            </div>
            </div>

            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><b>FTWIMALL</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">FTSE Malaysia</h6>
                <p class="card-text">Open: {{op5}}</p>
                <p class="card-text">Previous close: {{cp5}}</p>
                <p class="card-text">Day range: {{cp5}} - {{op5}}</p>
                <p class="card-text">Currency:MYR</p>
                <a href="https://www.investing.com/indices/ftse-malaysia" class="card-link">More info</a>
            </div>
            </div>
        </div>
    </div>


</div>



{% endblock %}
